* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

html,
body,
.wrap {
  width: 100%;
  height: 100%;
}

html {
  font-size: 62.5%;
}

body {
  font-size: .12rem;
}

.wrap {
  display: flex;
  flex-direction: column;
}

.wrap header {
  height: 10rem;
  width: 100%;
  flex-shrink: 0;
  background: #E7444A;
}

.wrap header .top {
  width: 100%;
  height: 5rem;
  padding-right: 1rem;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.wrap header .top a {
  color: #fff;
  font-size: 1.6rem;
}

.wrap header .top span {
  width: 10rem;
  height: 5rem;
  display: inline-block;
  text-align: center;
  line-height: 8rem;
  vertical-align: center;
}

.wrap header .top span img {
  width: 10rem;
  height: auto;
}

.wrap header nav {
  width: 100%;
  height: 5rem;
  display: flex;
  padding: 0 1rem;
  box-sizing: border-box;
  align-items: center;
  justify-content: space-between;
}

.wrap header nav a {
  color: #fff;
  font-size: 1.6rem;
}

.wrap header nav a i {
  color: #fff;
}

.wrap header nav p {
  flex: 1;
  margin-left: 1rem;
  height: 4rem;
  background: #fff;
  border-radius: 2rem;
  line-height: 4rem;
  text-align: center;
}

.wrap header nav p i {
  color: red;
}

.wrap header nav p input {
  border: 0;
  outline: 0;
  height: 3rem;
}

.wrap section {
  flex: 1;
  width: 100%;
  overflow: hidden;
  overflow-y: scroll;
}

.wrap section .banner {
  width: 100%;
  height: 15rem;
}

.wrap section .banner .swiper-slide {
  width: 100%;
  flex-wrap: wrap;
  display: flex;
}

.wrap section .banner .swiper-slide dl {
  text-align: center;
  width: 20%;
}

.wrap section .banner .swiper-slide dl dt {
  padding: .5rem 0;
}

.wrap section .banner .swiper-slide dl dt i {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  text-align: center;
  line-height: 3rem;
  display: inline-block;
  color: #fff;
}

.wrap section .banner .swiper-slide dl dd {
  font-size: 1.4rem;
  color: #292D32;
}

.wrap section .banner .swiper-slide dl:first-child dt i {
  background: #26D7F0;
}

.wrap section .banner .swiper-slide dl:nth-child(2) dt i {
  background: #FB6877;
}

.wrap section .banner .swiper-slide dl:nth-child(3) dt i {
  background: #FB6BA8;
}

.wrap section .banner .swiper-slide dl:nth-child(4) dt i {
  background: #FAB349;
}

.wrap section .banner .swiper-slide dl:nth-child(5) dt i {
  background: #74B1FF;
}

.wrap section .banner .swiper-slide dl:nth-child(6) dt i {
  background: #ADE160;
}

.wrap section .banner .swiper-slide dl:nth-child(7) dt i {
  background: #42D895;
}

.wrap section .banner .swiper-slide dl:nth-child(8) dt i {
  background: #68ACFB;
}

.wrap section .banner .swiper-slide dl:nth-child(9) dt i {
  background: #FE976D;
}

.wrap section .banner .swiper-slide dl:last-child dt i {
  background: #92A2F4;
}

.wrap section .banner .swiper-pagination-bullet-active {
  background: #6C6E73;
}

.wrap section .main,
.wrap section .inp {
  width: 100%;
  border-top: .5rem solid #F1F3F5;
}

.wrap section .main .gohome,
.wrap section .main .immediately,
.wrap section .inp .gohome,
.wrap section .inp .immediately {
  width: 100%;
}

.wrap section .main .gohome h1,
.wrap section .main .immediately h1,
.wrap section .inp .gohome h1,
.wrap section .inp .immediately h1 {
  width: 100%;
  height: 4.5rem;
  line-height: 4.5rem;
  text-align: center;
  font-size: 1.8rem;
}

.wrap section .main .gohome h1 i,
.wrap section .main .immediately h1 i,
.wrap section .inp .gohome h1 i,
.wrap section .inp .immediately h1 i {
  padding: .3rem;
  box-sizing: border-box;
  border-radius: 50%;
  background: #FD717F;
  color: #fff;
  font-size: 1rem;
  margin-right: .5rem;
}

.wrap section .main .gohome .navlist,
.wrap section .main .immediately .navlist,
.wrap section .inp .gohome .navlist,
.wrap section .inp .immediately .navlist {
  width: 100%;
  overflow: hidden;
}

.wrap section .main .gohome .navlist ul,
.wrap section .main .immediately .navlist ul,
.wrap section .inp .gohome .navlist ul,
.wrap section .inp .immediately .navlist ul {
  display: flex;
}

.wrap section .main .gohome .navlist ul li,
.wrap section .main .immediately .navlist ul li,
.wrap section .inp .gohome .navlist ul li,
.wrap section .inp .immediately .navlist ul li {
  flex-shrink: 0;
  margin: .5rem;
  width: 22%;
  height: 13rem;
  box-sizing: border-box;
  background: #F8F7F7;
  text-align: center;
}

.wrap section .main .gohome .navlist ul li h6,
.wrap section .main .immediately .navlist ul li h6,
.wrap section .inp .gohome .navlist ul li h6,
.wrap section .inp .immediately .navlist ul li h6 {
  width: 100%;
  font-size: 1.4rem;
  height: 3rem;
  line-height: 3rem;
}

.wrap section .main .gohome .navlist ul li span,
.wrap section .main .immediately .navlist ul li span,
.wrap section .inp .gohome .navlist ul li span,
.wrap section .inp .immediately .navlist ul li span {
  width: 100%;
  height: 2.5rem;
  line-height: 2.5rem;
  display: inline-block;
  font-size: 1.2rem;
  color: #858C99;
}

.wrap section .main .gohome .navlist ul li img,
.wrap section .main .immediately .navlist ul li img,
.wrap section .inp .gohome .navlist ul li img,
.wrap section .inp .immediately .navlist ul li img {
  width: 5rem;
  height: auto;
  margin-top: 1rem;
}

.wrap section .main .gohome .navlist1,
.wrap section .main .immediately .navlist1,
.wrap section .inp .gohome .navlist1,
.wrap section .inp .immediately .navlist1 {
  width: 100%;
  overflow: hidden;
}

.wrap section .main .gohome .navlist1 ul,
.wrap section .main .immediately .navlist1 ul,
.wrap section .inp .gohome .navlist1 ul,
.wrap section .inp .immediately .navlist1 ul {
  display: flex;
}

.wrap section .main .gohome .navlist1 ul li,
.wrap section .main .immediately .navlist1 ul li,
.wrap section .inp .gohome .navlist1 ul li,
.wrap section .inp .immediately .navlist1 ul li {
  flex-shrink: 0;
  margin: .5rem;
  height: 9rem;
  width: 22%;
  box-sizing: border-box;
  background: #F8F7F7;
  text-align: center;
  border: .1rem solid #ccc;
}

.wrap section .main .gohome .navlist1 ul li h6,
.wrap section .main .immediately .navlist1 ul li h6,
.wrap section .inp .gohome .navlist1 ul li h6,
.wrap section .inp .immediately .navlist1 ul li h6 {
  width: 100%;
  font-size: 1.4rem;
  height: 3rem;
  line-height: 3rem;
  background: #fff;
}

.wrap section .main .gohome .navlist1 ul li img,
.wrap section .main .immediately .navlist1 ul li img,
.wrap section .inp .gohome .navlist1 ul li img,
.wrap section .inp .immediately .navlist1 ul li img {
  width: 5rem;
  height: auto;
  margin-top: 1rem;
}

.wrap footer {
  height: 4.5rem;
  flex-shrink: 0;
}

.wrap footer .footer {
  width: 100%;
  height: 100%;
  border-top: .1rem solid #ccc;
  display: flex;
  align-items: center;
}

.wrap footer .footer li {
  flex: 1;
  text-align: center;
}

.wrap footer .footer li i {
  display: block;
}

.wrap footer .footer .on {
  color: red;
}
